.home{
    background-color: #023047;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.port{
    color:#FFB703 ;
    padding-top: 10px;
}
a{
    text-decoration: none;
    margin: 20px;
    padding-left: 80px;
    padding-top: 10px;
}
.nav:hover{
    color: burlywood;
}
.navi{
        padding-left: 500px;
}
.about{
    margin-left: 310px;
    margin-top: 90px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.pic{
    height: 500px;
    width: 500px;  
    margin-left: 500px;
}
