.App {
  text-align: center;
  color: brown;
}
h1{
  text-align: start;
}
div{
  font-size: xx-large;
  text-align: start;

}
img{
  height: 60px;
}
button{
  padding: 30px;
  margin: 10px;
  background-color: #61dafb;
  transition: 1s ease;
  border-radius: 10px;
  border-collapse: collapse;
}
button:hover{
  background-color: bisque;
  transform: rotate(-45deg);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
